# Project ignores
logfile
RecipeWeekly/settings.py # Need to separate sensitive config info
db.sqlite3


# Django ignores
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/


# Global ignores
.DS_Store
