{% extends "main/base.html" %}
{% load static %}


{% block content %}

	<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
          <img class="img-responsive" src="{% static 'main/images/ReciPy Logo 2.png' %}">
        </div>
        <div class="col-md-9">
          <h1>Welcome to ReciPy</h1>
          <p>Upload Recipes - Get Recommendations</p>
          <a class="btn btn-primary" href="{% url 'user_registration' %}">Register</a>
          <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>


    {# <h4>Recipe stream (friends, popular, featured, recent)</h4> #}

    <h1>Recommended Recipes For You <span class="text-muted">(based on your likes)</span></h1>
    <div class="row">
      {% for recipe in recommended_recipes %}
        <div class="col-md-3 col-sm-4">
          {% include "components/recipe_card.html" %}
        </div>
      {% endfor %}
    </div>


	</div>

{% endblock content %}
