{% extends "main/base.html" %}


{% block content %}

  <script> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

	<div class="container">

		<h1>Recipes <span class="text-muted">({{ recipe_list.count }} out of {{ total_recipe_count }} total)</span></h1>

    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn btn-default"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-success"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-info"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-warning"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-link"><i class="fa fa-thumbs-up"></i></button>
    </div>

    <div class="row">
  	  {% if recipe_list %}
    		<ul class="list-group favorites-list">

    		  {% for recipe in recipe_list %}
      			<li class="list-group-item">

              <!-- Clickable star for adding recipe to saved recipes -->
              <!--
              {% if recipe in saved_recipes and user.is_authenticated %}
                <i class="fa fa-star" data-recipe-id="{{ recipe.id }}" aria-hidden="true"></i>
              {% elif user.is_authenticated %}
                <i class="fa fa-star-o" data-recipe-id="{{ recipe.id }}" aria-hidden="true"></i>
              {% else %}
                <a class="nostyle" href="{% url 'login' %}?next={% url 'recipe_list' %}"><i class="fa fa-star-o needs-login"></i></a>
              {% endif %}
              -->

              <div class="button-group btn-group btn-group-xs" role="group">
                <!-- Star icon for saving recipe -->
                {% if recipe in saved_recipes %}
                  <button type="button" class="btn btn-info save" data-recipe-id="{{ recipe.id }}"><i class="fa fa-star"></i></button>
                {% else  %}
                  <button type="button" class="btn btn-default save" data-recipe-id="{{ recipe.id }}"><i class="fa fa-star"></i></button>
                {% endif %}

                <!-- Thumbs up and down for liking and disliking recipe -->
                {% if recipe in liked_recipes %}
                  <button type="button" class="btn btn-primary like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                  <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
                {% elif recipe in disliked_recipes %}
                  <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                  <button type="button" class="btn btn-danger dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
                {% else %}
                  <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                  <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
                {% endif %}
              </div>


              <img src="{{ recipe.yummly_image_url }}">

              <a class="lead" href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
              
              <span class="badge"><span class="favorite_count">{{ recipe.num_saves }}</span> stars</span>
      			</li>
    		  {% endfor %}

    		</ul>
  	  {% else %}
    		<p>No recipes listed.</p>
  	  {% endif %}
    </div>


	</div>

{% endblock content %}

