{% extends "main/base.html" %}
{% load static %}

{% block content %}

	<div class="container">

    {# #################################################### #}
    {# Yummly recipe #}
    {# #################################################### #}
    {% if recipe.is_yummly_recipe %}
      <div class="panel panel-info recipe-detail-card">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{ recipe.name }}</strong></h3>
        </div>

        <div class="panel-body">
          <div class="row">

            <div class="col-md-3">
              <div>
                <a class="btn btn-default wide" href="http://www.yummly.co/" target="_blank">
                  <span class="text-muted">Source:</span> Yummly - {{ recipe.yummly_source }}
                </a>
              </div>
              <br>
              <div>
                <button type="button" class="btn btn-default wide"><span class="text-muted">Rating:</span> {{ recipe.yummly_rating }}/5</button>
              </div>
              <br>

              <ul class="list-group flavor-percents">
                <li class="list-group-item list-group-item-info">Flavor Profile</li>
                {% for flavor, percent in flavor_percent.items %}
                  <li class="list-group-item list-group-item-default">
                    <p class="progress-label">{{ flavor|capfirst }}</p>
                    <div class="progress-bar-wrapper">
                      <div class="progress">
                        <div class="progress-bar" style="width: {{ percent }}%;"></div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            </div>


            <div class="col-md-6">
              <div class="col-md-8 col-md-offset-2">
                <img src="{{ recipe.yummly_image_url }}" class="img-responsive img-wide img-thumbnail">
              </div>
              <div class="col-md-12 text-center">
                <h2>{{ recipe.name }}</h2>
                <a class="btn btn-info" href="http://www.yummly.co/recipe/{{ recipe.yummly_url }}" target="_blank">Preparation Instructions</a>
              </div>
            </div>

            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info">Ingredients</li>
                {% for ingredient in recipe.ingredients.all %}
                  <a class="list-group-item list-group-item-default" href="{% url 'ingredient_detail' ingredient.id %}">
                    <span class="text-info">{{ ingredient.name }}</span>
                  </a>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>



        <div class="panel-footer">
          <div class="likeDislikeSaveButtons">
            <div class="btn-group btn-group" role="group">
              {% if recipe in saved_recipes %}
                <button type="button" class="btn btn-info save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves}}">
                  <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
                </button>
              {% else  %}
                <button type="button" class="btn btn-default save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves }}">
                  <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
                </button>
              {% endif %}
            </div>
            <div class="btn-group btn-group pull-right" role="group">
              {% if recipe in liked_recipes %}
                <button type="button" class="btn btn-primary like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% elif recipe in disliked_recipes %}
                <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% else %}
                <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

    {# #################################################### #}
    {# User recipe #}
    {# #################################################### #}
    {% elif recipe.is_user_recipe %}
      <div class="panel panel-default user-recipe-detail-card">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{ recipe.name }}</strong></h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-md-push-3">
              <div class="col-md-8 col-md-offset-2">
                <a href="/media/{{ recipe.photo }}"><img src="/media/{{ recipe.photo }}" class="img-responsive img-wide img-thumbnail"></a>
                {# <a href="{% static 'main/images/ReciPy Logo Gray.png' %}"><img src="{% static 'main/images/ReciPy Logo Gray.png' %}" class="img-responsive img-wide img-thumbnail"></a> #}
              </div>
              <div class="col-md-12 text-center">
                <h2>{{ recipe.name }}</h2>
              </div>
            </div>
            <div class="col-md-3 col-md-pull-6">
              <div>
                <a class="btn btn-default wide" href="{% url 'user_detail' recipe.creator.username %}">
                  <span class="text-muted">Creator: </span>{{ recipe.creator.username }}
                </a>
              </div>
              <br>
              <ul class="list-group">
                <li class="list-group-item">Instructions</li>
                <li class="list-group-item formatted">{{ recipe.instructions }}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item">Ingredients</li>
                {% for ingredient in recipe.ingredients.all %}
                  <a class="list-group-item" href="{% url 'ingredient_detail' ingredient.id %}">
                    <span>{{ ingredient.name }}</span>
                  </a>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <div class="likeDislikeSaveButtons">
            <div class="btn-group btn-group" role="group">
              {% if recipe in saved_recipes %}
                <button type="button" class="btn btn-info save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves}}">
                  <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
                </button>
              {% else  %}
                <button type="button" class="btn btn-default save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves }}">
                  <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
                </button>
              {% endif %}
            </div>
            <div class="btn-group btn-group pull-right" role="group">
              {% if recipe in liked_recipes %}
                <button type="button" class="btn btn-primary like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% elif recipe in disliked_recipes %}
                <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% else %}
                <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    {% endif %}

    <hr>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Similar Recipes (based on ingredients)</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          {% for recipe in recipe.related_recipes.all|slice:':4' %}
            <div class="col-md-3 col-sm-4 col-xs-6">
              {% include 'main/recipe_card_small_template.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!--
    <p class="lead">Recommended recipes: </p>
    {% for rec_recipe in recipe.related_recipes.all|slice:':4' %}
      <p>
      <a href="{% url 'recipe_detail' rec_recipe.id %}">
      <img src="{{ rec_recipe.yummly_image_url }}">
      <span class="lead">{{ rec_recipe.name }} - </span></a>

      {% for ingredient in rec_recipe.ingredients.all %}
        <span>{{ ingredient.name }}, </span>
      {% endfor %}
      </p>
    {% endfor %}
    -->


	</div>

{% endblock content %}
