{% load myfilters %}

<div class="panel panel-success recipe-card">

  <a href="{% url 'recipe_detail' recipe.id %}"><span class="div-link"></span></a>

  <div class="panel-heading">
    <h3 class="panel-title">{{ recipe.name }}</h3>
  </div>

  <div class="panel-body">
    <img src="{{ recipe.yummly_image_url }}" class="img-responsive img-thumbnail center-block">

    <p>
      <span class="text-muted">Creator: </span>
      <span>{% if recipe.creator %}{{ recipe.creator }}{% else %}Yummly{% endif %}</span>
    </p>

    <button type="button" class="ingredients btn btn-default" data-toggle="popover" data-content="{{ recipe.ingredients.all | list_ingredients }}">
      <span>Ingredients <i class="fa fa-angle-down"></i></span>
    </button>
  </div>

  <div class="panel-footer">
    <div class="likeDislikeSaveButtons">
      <div class="btn-group btn-group-sm" role="group">

        {# Star icon for saving recipe #}
        {% if recipe in saved_recipes %}
          <button type="button" class="btn btn-info save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves}}">
            <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
          </button>
        {% else  %}
          <button type="button" class="btn btn-default save" data-recipe-id="{{ recipe.id }}" data-num-saves="{{ recipe.num_saves }}">
            <i class="fa fa-star"></i> <span>{{ recipe.num_saves }}</span>
          </button>
        {% endif %}
      </div>

      <div class="btn-group btn-group-sm pull-right" role="group">
      
        {# Thumbs up and down for liking and disliking recipe #}
        {% if recipe in liked_recipes %}
          <button type="button" class="btn btn-primary like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
          <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
        {% elif recipe in disliked_recipes %}
          <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
          <button type="button" class="btn btn-danger dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
        {% else %}
          <button type="button" class="btn btn-default like" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-up"></i></button>
          <button type="button" class="btn btn-default dislike" data-recipe-id="{{ recipe.id }}"><i class="fa fa-thumbs-down"></i></button>
        {% endif %}
      </div>
    </div>
  </div>

</div>
