{% extends 'main/base.html' %}
{% load myfilters %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Create New Recipe</h1>
        </div>
        <div class="panel-body">

          <form id="create-recipe-form" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Recipe Name -->
            <div class="form-group">
              <label class="control-label col-md-2" for="name">Recipe Name</label>
              <div class="col-md-4">
                <input name="name" type="text" class="form-control">
              </div> 
            </div>

            <!-- Ingredients -->
            <div class="form-group">
              <label class="control-label col-md-2" for="currentIngredient">Ingredients</label>
              <div class="col-md-3 col-xs-9">
                <input type="text" id="currentIngredient" name="currentIngredient" class="form-control">
                {# <input type="hidden" id="ingredientList" name="ingredientList" value=""> #}
              </div> 
              <div class="col-md-1 col-xs-3">
                <button id="addIngredientsButton" type="button" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-3 col-xs-9">
                <ul id="ingredientList" class="list-group"></ul>
              </div>
            </div>

            <!-- Instructions -->
            <div class="form-group">
              <label class="control-label col-md-2" for="instructions">Instructions</label>
              <div class="col-md-8">
                <textarea name="instructions" type="textarea" class="form-control" rows="6" placeholder="Explain how to make your recipe." form="create-recipe-form"></textarea>
              </div> 
            </div>

            <!-- Picture -->
            <div class="form-group">
              <label class="control-label col-md-2" for="name">Photo</label>
              <div class="col-md-4">
                {# <textarea name="picture" type="textarea" class="form-control" rows="6" placeholder="Explain how to make your recipe." form="create-recipe-form"></textarea> #}
              </div> 
            </div>



            <!-- Submit button -->
            <div class="form-group">
              <div class="col-md-offset-2 col-md-4">
                <button type="button" class="btn btn-primary btn-block">Create</button>
              </div>
            </div>

          </form>


      </div>
    </div>
  </div>

</div>
{% endblock %}