{% extends "main/base.html" %}


{% block content %}
{% with liked_recipes=user.profile.liked_recipes.all %}

  <script> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

	<div class="container">

		<h1>Recipes <span class="text-muted">({{ yummlyrecipe_list.count }} out of {{ total_recipe_count }} total)</span></h1>

    <div class="row">
  	  {% if yummlyrecipe_list %}
  		<ul class="list-group favorites-list">

  		  {% for recipe in yummlyrecipe_list %}
  			<li class="list-group-item">

          {% if recipe in liked_recipes and user.is_authenticated %}
          <i class="fa fa-star" data-recipe-id="{{ recipe.id }}" aria-hidden="true"></i>
          {% elif user.is_authenticated %}
          <i class="fa fa-star-o" data-recipe-id="{{ recipe.id }}" aria-hidden="true"></i>
          {% else %}
          <a class="nostyle" href="{% url 'login' %}?next={% url 'recipe_list' %}"><i class="fa fa-star-o needs-login"></i></a>
          {% endif %}

          <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
          <span class="badge"><span class="favorite_count">{{ recipe.profile_set.count }}</span> stars</span>
  			</li>
  		  {% endfor %}

  		</ul>
  	  {% else %}
  		<p>No recipes listed.</p>
  	  {% endif %}
    </div>


	</div>

{% endwith %}
{% endblock content %}

